html,

body{
  background-color: #f5f5f5;
}

#myVideo{
  position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
}

h1{
  color: white;
  font-family: 'Oswald', sans-serif;
  position: relative;
  text-align: right;
  font-size: 17px;
}


a{
  color: #231F44;
  font-family: 'Oswald', sans-serif;
  position: relative;
  font-size: 17px;
}

h2{
  color: #231F02;
  font-family: 'Oswald', sans-serif;
  /* text-shadow: 2px 3px #f9c74f; */
}

h3{
  color: white;
  font-family: 'Oswald', sans-serif;
  text-align: right;
  /* text-shadow: 2px 3px #F2D7EE; */
  font-size: 17px;
}

p{
  color: #231F02;
  font-family: 'Oswald', sans-serif;
  position: relative;
  text-align: left;
  width: 710px;
  margin-top: 50px;
  font-size: 18px;
  line-height: 2.0;
}

#logo{
padding-top: 30px;
text-align: center;
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin-top: 100px;
}

.main > div {
  margin: 20px;
 }

 .menu{
   padding-top: 20px;
   background: transparent;
   position:fixed;
   width:100%;
   z-index:100;
 }

 #header1 {
   background: transparent;
   color: black;
   position: fixed;
   text-align: left;
   top: 10px;
   width: 90%;
   left:5%;
   transition: 0.2s;
 }

 #header2 {
   background: transparent;
   color: black;
   position: fixed;
   text-align: right;
   top: 0;
   width: 95%;
   transition: 0.2s;
 }

 ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background: transparent;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  font-family: 'Oswald', sans-serif;
  color: #231F44;
  text-decoration: none;
}

 .container1{
   position: relative;
   text-align: center;
   width: 380px;
   padding: 50px;
 }

 .container2{
   position: relative;
   text-align: right;
   width: 750px;
 }

 .image1 {
   width: 100%;
   height: auto;
 }

 .overlay {
  height: 0%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content img{
  position: relative;
  width: 25%;
  margin-left: 38%;
  margin-top: 100px;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay .closebtn {
  font-size: 40px;
  }
