html,


body{
  padding: 0px;
}

#navbar {
  background-color: transparent;
  position: fixed;
  top: -100px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar #left-side {
  float: left;
  display: block;
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 23px;
}

#navbar #right-side {
  float: right;
  display: block;
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 23px;
}

#navbar a:hover {
  background-color: #f5f5f5;
  color: white;
}

h1 {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: white;
  position:absolute;
  padding-top: 290px;
  left:20%;
}

h2{
  color:#231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  left: 30%;
}

p{
color:#231F44;
  font-family: 'Oswald', sans-serif;
}

#logo{
  padding-top: 30px;
  text-align: center;
}

#typing{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
width: 85%;
height: 600px;
object-fit: cover;
}

.info{
  width: 800px;
  padding-left: 20%;
  padding-top: 50px;
}

.info-2{
  width: 800px;
  padding-left: 20%;
  padding-top: 1350px;
}

.info-3{
  width: 800px;
  padding-left: 20%;
  padding-top: 30px;
}

.info-4{
  width: 800px;
  padding-left: 20%;
  padding-top: 60px;
}

#pic-1{
  width:350px;
  margin-top: 80px;
  position: absolute;
}

#pic-1-text{
  width: 350px;
  margin-left: 400px;
  margin-top: 80px;
  position: absolute;
}

#pic-2{
  width: 800px;
  margin-top: 450px;
  position: absolute;
}

#pic-3{
  width: 600px;
  margin-top: 970px;
  margin-left: 14%;
  position: absolute;
}

#pic-4{
  width: 400px;
  margin-top: 50px;
  margin-left: 20%;
  position: relative;
}

#pic-4-text{
  font-size: 18px;
  color:#7B768F;
  margin-left: 20%;
  margin-top: 0px;
  position: relative;
}

.gallery{
margin-left: auto;
margin-right: auto;
top: 50px;
position: relative;
width: 80%;
display: grid;
grid-template-columns: auto auto auto;
}

.gallery-item{
  width: 300px;
  height:300px;
  margin: 30px;
  object-fit: cover;
}

footer{
  color: #231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  text-align: center;
}
