html {
  scroll-behavior: smooth;
}


body{
  padding: 0px;
}

#navbar {
  background-color: transparent;
  position: fixed;
  top: 0px;
  width: 100%;
  display: block;
}

#navbar #left-side {
  float: left;
  display: block;
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 23px;
}

#navbar #right-side {
  float: right;
  display: block;
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 23px;
}

#navbar a:hover {
  background-color: #f5f5f5;
  color: white;
}


h1 {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: white;
  position:absolute;
  padding-top: 290px;
  left:28%;
}

h2{
  color:#231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  left: 30%;
}

h3{
color:white;
  font-family: 'Oswald', sans-serif;
font-size: 25px;
}

p{
color:#231F44;
  font-family: 'Oswald', sans-serif;
font-size: 23px;
}

p1{
color:white;
  font-family: 'Oswald', sans-serif;
font-size: 22px;
}

#logo{
  padding-top: 30px;
  text-align: center;
}

#typing{
margin-top: 50px;
width: 100%;
height: 800px;
object-fit: cover;
object-position: bottom;
}

.content {
  position: absolute;
  top: 135px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 99%;
  height:800px;
}

.content-text{
  width:57%;
  margin-top: 250px;
  margin-left: 200px;
}

#myBtn {
  margin-left: 65%;
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  text-decoration: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover{
  background: #ddd;
  color: black;
}

#myVideo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

#mySidenav a{
  position: absolute;
  transition: 0.3s;
  padding: 10px;
  text-decoration: none;
  font-size: 27px;
  border-radius: 5px 0 0 5px;
  text-align: left;
}

#mySidenav span{
  margin: 10px;
  cursor: pointer;
}

#mySidenav a:hover {
  right: 0;
}

#about {
  right: -95px;
  top: 1100px;
  background-color: #7B768F;
  color: white;
  width: 130px;
}

#blog {
  right: -95px;
  top: 1180px;
  background-color: #88839A;
  color: white;
  width: 130px;
}

#projects {
  right: -245px;
  top: 1260px;
  background-color: #9591A5;
  color: white;
  width: 280px;
}

#contact {
  right: -415px;
  top: 1340px;
  font-size: bold;
  background-color: #FBEAB3;
  color: #5A433E;
  width: 450px;
}

.info{
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

#pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

#img-text{
  font-size: 15px;
  color:grey;
  text-align: right;
  text-decoration: none;
}

.gallery{
top: 50px;
width: 80%;
display: grid;
grid-template-columns: auto auto;
}

.container {
  position: relative;
  height:300px;
  width: 300px;
  margin: 30px;
}

.image {
  margin-left:0px;
  height:300px;
  width: 300px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #7b768f;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

footer{
  color: #231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  text-align: center;
}
