html,


body{
  padding: 0px;
}

#navbar {
  background-color: transparent;
  position: fixed;
  top: -100px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar #left-side {
  float: left;
  display: block;
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 23px;
}

#navbar #right-side {
  float: right;
  display: block;
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 23px;
}

#navbar a:hover {
  background-color: #f5f5f5;
  color: white;
}

h1 {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: white;
  position:absolute;
  padding-top: 290px;
  left:30%;
}

h2{
  color:#231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 38px;
  left: 30%;
}

p{
color:#231F44;
  font-family: 'Oswald', sans-serif;
font-size: 25px;
}

p1{
  font-family: 'Oswald', sans-serif;
font-size: 20px;
}

#logo{
  padding-top: 30px;
  text-align: center;
}

#pic-1{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
width: 85%;
height: 600px;
object-fit: cover;
}

.info{
  position: absolute;
  top:830px;
  left:20%;
  width: 55%;
}

.info-2{
  margin-left:20%;
  width: 60%;
  padding-top: 30px;
}

#pic-3{
  display: block;
  margin-left: 20%;
  margin-right: auto;
  margin-top: 120px;
  width: 800px;
  object-fit: cover;
}


.info-3{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

#pic-4{
  position: absolute;
  margin-top: 70px;
  margin-left: 50px;
  width: 500px;
}

.video{
  position: absolute;
  left:30%;
  margin-top:180px;
  width: 80px;
  height:auto;
}

.gallery{
margin-left:17%;
width: 60%;
padding-top: 30px;
position: relative;
display: grid;
grid-template-columns: auto auto auto;
}

.gallery-item{
  width: 350px;
  height:280px;
  margin: 30px;
  object-fit: cover;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.3%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  height:530px;
}

.tabText{
  color: white;
  position: absolute;
  margin-top: 150px;
  margin-left: 48%;
  width:400px;
  text-align: center;
}

#Yellow {background-color:#FFD932;}
#Pink {background-color:#F09AC7;}
#Blue {background-color:#73C0F9;}

.info-4{
  width: 80%;
  padding-left: 20%;
  padding-top: 150px;
}

#outcome{
  margin-top: 50px;
}

footer{
  color: #231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  text-align: center;
}
