
html,


body{
  padding: 0px;
}

.menu{
  padding-top: 20px;
  background: transparent;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}

#logo{
  background: transparent;
  color: black;
  position: fixed;
  text-align: left;
  top: 10px;
  width: 90%;
  left:5%;
}

#video-demo{
  position: relative;
  margin-left: 50%;
  margin-top: 150px;
  width: 40%;
  height: 400px;
}

.section1{
  position: absolute;
  width: 400px;
  margin-left: 15%;
  top: 170px;
}

.section2{
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
}
/*
#navbar {
  background-color: transparent;
  position: fixed;
  top: 0px;
  width: 100%;
  display: block;
}

#navbar #left-side {
  float: left;
  display: block;
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 23px;
}

#navbar #right-side {
  float: right;
  display: block;
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 23px;
}

#navbar a:hover {
  background-color: #f5f5f5;
  color: white;
} */
h1 {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: white;
  position:absolute;
  padding-top: 290px;
  left:30%;
}

h2{
  color:#231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  left: 30%;
}

p{
color:#231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}


#chairs{
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;
 width: 85%;
 height: 600px;
 object-fit: cover;
}

.info{
  width: 650px;
  padding-left: 20%;
}

.info-2{
  width: 800px;
  padding-left: 20%;
  padding-top: 850px;
}

.info-3{
  width: 800px;
  padding-left: 20%;
  padding-top: 30px;
}

.info-4{
  width: 800px;
  padding-left: 20%;
  padding-top: 750px;
}

#info-1{
  width: 800px;
  margin-top: 70px;
  position:relative;
}

#info-2{
  width: 800px;
  margin-top: 100px;
  position: relative;
}

#flower1{
  position: absolute;
  width:406px;
  height:247px;
  object-fit: cover;
  margin-top: 85px;
  margin-left: -420px;
}

#flower2{
  position: absolute;
  width:406px;
  height:247px;
  object-fit: cover;
  margin-top: 115px;
  margin-left: -420px;
}

canvas {
  display: block;
}

.gallery{
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  position: relative;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.gallery-item{
  width: 90%;
}

footer{
  color: #231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  text-align: center;
}
