html,


body{
  padding: 0px;
}
.menu{
  padding-top: 20px;
  background: transparent;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}

#logo{
  background: transparent;
  color: black;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 90%;
  left:5%;
}

/* #navbar {
  background-color: transparent;
  position: fixed;
  top: 0px;
  width: 100%;
  display: block;
}

#navbar #left-side {
  float: left;
  display: block;
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 23px;
}

#navbar #right-side {
  float: right;
  display: block;
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 23px;
}

#navbar a:hover {
  background-color: #f5f5f5;
  color: white;
} */


h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: white;
  position:absolute;
  padding-top: 290px;
  left:20%;
}

h2{
  color:#231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  left: 30%;
}

p{
color:#231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}



#pic{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
width: 100%;
height: auto;
}

#video{
  display: block;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.info{
  width: 750px;
  padding-left: 20%;
  padding-top: 70px;
}

.info-2{
  width: 100%;
  padding-top: 20px;
}

#pic-1{
  width: 100%;
  height:700px;
  object-fit: cover;
  margin-top: 40px;
  position: relative;
}

#pic-2{
  width: 100%;
  height:700px;
  object-fit: cover;
  margin-top: 50px;
  position: relative;
}



.gallery{
margin-left: auto;
margin-right: auto;
top: 50px;
position: relative;
width: 80%;
display: grid;
grid-template-columns: auto auto auto;
}

.gallery-item{
  width: 300px;
  height:300px;
  margin: 30px;
  object-fit: cover;
}

footer{
  color: #231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  text-align: center;
}
