html {
  scroll-behavior: smooth;
}


body{
  padding: 0px;
}

#logo{
  background: transparent;
  color: black;
  position: fixed;
  text-align: left;
  top: 10px;
  width: 90%;
  left:5%;
}
.menu{
  padding-top: 20px;
  background: transparent;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}

#myVideo {
  position: relative;
  margin-top: 150px;
  margin-left: 40%;
  width: 55%;
  height: 450px;
}

#section1{
    position: absolute;
    width: 350px;
    margin-left: 10%;
    top: 240px;
}

#section2{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}


.content {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: #f1f1f1;
  margin-top: 100px;
  margin-left: 15%;
  width: 70%;
  height: 600px;
}

.content-text{
  width:50%;
  margin-top: 250px;
  margin-left: 200px;
}



/* #navbar {
  background-color: transparent;
  position: fixed;
  top: 0px;
  width: 100%;
  display: block;
}

#navbar #left-side {
  float: left;
  display: block;
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 23px;
}

#navbar #right-side {
  float: right;
  display: block;
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 23px;
}

#navbar a:hover {
  background-color: #f5f5f5;
  color: white;
} */


h1 {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: white;
  position:absolute;
  padding-top: 290px;
  left:28%;
}

h2{
  color:#231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  left: 30%;
}

h3{
color:#231F44;
  font-family: 'Oswald', sans-serif;
font-size: 35px;
}

p{
color:#231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
}

p1{
color:#231F44;
  font-family: 'Oswald', sans-serif;
font-size: 22px;
}


/* #typing{
margin-top: 50px;
width: 100%;
height: 800px;
object-fit: cover;
object-position: bottom;
} */



#myBtn {
  margin-left: 65%;
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  text-decoration: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover{
  background: #ddd;
  color: black;
}


#mySidenav a{
  position: absolute;
  transition: 0.3s;
  padding: 10px;
  text-decoration: none;
  font-size: 27px;
  border-radius: 5px 0 0 5px;
  text-align: left;
}

#mySidenav span{
  margin: 10px;
  cursor: pointer;
}

#mySidenav a:hover {
  right: 0;
}

#about {
  right: -95px;
  top: 1100px;
  background-color: #7B768F;
  color: white;
  width: 130px;
}

#blog {
  right: -95px;
  top: 1180px;
  background-color: #88839A;
  color: white;
  width: 130px;
}

#projects {
  right: -245px;
  top: 1260px;
  background-color: #9591A5;
  color: white;
  width: 280px;
}

#contact {
  right: -315px;
  top: 1340px;
  font-size: bold;
  background-color: #FBEAB3;
  color: #5A433E;
  width: 350px;
}


#pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:90%;
}

.gallery{
top: 50px;
width: 80%;
display: grid;
grid-template-columns: auto auto;
}

.container {
  position: relative;
  margin: 20px;
}

.image {
  margin-left:0px;
  height:300px;
  width: 300px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #7b768f;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

footer{
  color: #231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  text-align: center;
}
