html,

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

#logo{
  background: transparent;
  color: black;
  position: fixed;
  text-align: left;
  top: 10px;
  width: 90%;
  left:5%;
}
.menu{
  padding-top: 20px;
  background: transparent;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}

#section1{
    position: absolute;
    width: 60%;
    margin-left: 20%;
    top: 200px;
}

h2{
  color:#231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  left: 30%;
}

p{
color:#231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  margin-top: 400px;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 10px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding:10px;
}

.column img {
  margin-top: 30px;
  vertical-align: middle;
  width: 200px;
  height: 220px;
  object-fit: cover;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


footer{
  position: relative;
  color: #231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  text-align: center;
}
