html{
  scroll-behavior: smooth;
}

body{
  width:100%;
  display: block;
}

h{
  color: #231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 55px;
}

h1{
  color: #231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

h2{
  color: #231F44;
  font-family: 'Noto Serif SC', serif;
  font-size: 20px;
}

h3{
  color:##231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  text-shadow: 2px 3px #f9c74f;
}

p{
color:#231F44;
font-family: 'Oswald', sans-serif;
text-align: left;
width: 580px;
font-size: 17px;
line-height: 1.8;
}

#myVideo {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.menu{
  padding-top: 20px;
  background: transparent;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}

#header1 {
  background: transparent;
  text-align: left;
  top: 10px;
  left:5%;
}

#header2 {
  background: transparent;
  text-align: right;
  top: 0;
}

 .container1{
   text-align: center;
   width: 380px;
   padding: 30px;
 }

 .container2{
   text-align: left;
   width: 550px;
 }

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background: transparent;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  font-family: 'Oswald', sans-serif;
  color: #231F44;
  text-decoration: none;
}

#section2{
  position: static;
  top: 0px;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 13%;
}
/*
.project-view{
  width: 100%;
  height: 750px;
  display: flex;
  background-color: #F5F5F5;
}

.project-category{
  position: absolute;
  margin-top: 0px;
  width: 40%;
  text-align: left;
  padding: 250px 80px;
}

.projects{
  position: absolute;
  width: 30%;
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
}

.projects > div {
  background: transparent;
  width: 300px;
  margin: 50px;
}

.image{
  display: block;
  width: 350px;
  height: 200px;
  object-fit: cover;
}

.text{
  position: absolute;
  color:#231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  line-height: 5px;
} */


#section3{
  position: static;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: transparent;
  height: 550px;
  padding-top: 150px;
  text-align: center;
}

#section3 > div {
  margin: 20px;
 }




 a:link, a:visited {
    text-decoration: none;
 }
 a:hover, a:active {
 }



 .item:hover .overlay{
   opacity: 1;
 }

 .title{
   font-size: 25px;
   color: white;
   font-family: 'Oswald', sans-serif;
   font-weight: bold;
   position: absolute;
   top: 42%;
   text-align: center;
 }

 .item:hover .title{
   opacity: 0;
 }

footer{
  position: absolute;
  color: #231F44;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  margin-left: 45%;
}
